{% extends "common/base.html" %} 
{% block title %}{{title}}{% endblock %} 
{% block nav_title %}{{title}}{% endblock %} 

{% block last_nav_link %}
<a class="mdl-navigation__link" href="/signout_confirm">{{final_nav_header}}</a>
{% endblock %}

{% block content %}

<div class="mdl-grid">

    <div class="mdl-layout-spacer"></div>

    <div class="mdl-cell mdl-cell--8-col">
        <h2>Unable to Create Team</h2>
        
        <h4>Could be because of following reasons:</h4>
        <ul>
            <li>One or more user are not registered</li>
            <li>One or more user are member of some other Team</li>
            <li>Team Name is not unique</li>
            <li>Server's load very high </li>
        </ul>
    
        <h4>
            Please try again; back to
            <a style="color: blue;" href="/create_team">Create Team</a>
        </h4>

    </div>

    <div class="mdl-layout-spacer"></div>

</div>

{% endblock %}