{% extends "common/base.html" %} 
{% block title %}{{title}}{% endblock %} 
{% block nav_title %}{{title}}{% endblock %} 

{% block last_nav_link %}
{% if final_nav_header == 'signin' %}
    <a class="mdl-navigation__link" href="/signin">Login</a>
{% else %}
    <a class="mdl-navigation__link" href="/signout_confirm">{{final_nav_header}}</a>
{% endif %}
{% endblock %}

{% block content %}

<div class="mdl-grid">

    <dialog class="mdl-dialog" id="discussion_rules_dialog">
        <div class="mdl-dialog__content">
            {{discussion_rules_html}}
        </div>
        <div class="mdl-dialog__actions">
            <button type="button" class="mdl-button close">Okay</button>
        </div>
    </dialog>

    <!-- <iframe src="{{iframe_url}}" style="min-height:800px"></iframe> -->
</div>

<script>

    function discussion_rules() {
        var dialog = document.querySelector('#discussion_rules_dialog');

        if (dialog) {
            if (!dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }
            
            dialog.querySelector('.close').addEventListener('click', function () {
                dialog.close();
            });

            dialog.showModal();
        }
    }

    setTimeout(discussion_rules, 1000);

</script>

{% endblock %}