{% extends "common/base.html" %} 
{% block title %}{{title}}{% endblock %} 
{% block nav_title %}{{title}}{% endblock %} 

{% block last_nav_link %}
<a class="mdl-navigation__link" href="/signout_confirm">{{final_nav_header}}</a>
{% endblock %}

{% block content %}

<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>

    <div class="mdl-cell mdl-cell--6-col">
        <h2>Update Password</h2>
        <form action="{{ url_for('profile_page.submit_profile_update_data') }}" method="post" id="profile_update-form">

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input readonly class="mdl-textfield__input" value="{{user_data.email}}" type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="user_email" name="user_email" autocomplete="off"/>
                <label class="mdl-textfield__label" for="user_email">Email...</label>
                <span class="mdl-textfield__error">Input is not a vaild Email Id!</span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input readonly required class="mdl-textfield__input" value="{{user_data.username}}" type="text" pattern="[A-Za-z0-9]{6,25}$" id="user_name_unique" name="user_name_unique" autocomplete="off"/>
                <label class="mdl-textfield__label" for="user_name_unique">Username...</label>
                <span class="mdl-textfield__error">Input can be only alphanumeric and between 6-25 chars!</span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input required class="mdl-textfield__input" type="password" pattern="[A-Za-z0-9]{6,25}$" id="user_password"
                    name="user_password" autocomplete="off"/>
                <label class="mdl-textfield__label" for="user_password">Old Password...</label>
                <span class="mdl-textfield__error">Input can be only alphanumeric and between 6-25 chars!</span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input required class="mdl-textfield__input" type="password" pattern="[A-Za-z0-9]{6,25}$" id="user_new_password" name="user_new_password" autocomplete="off" />
                <label class="mdl-textfield__label" for="user_new_password">New Password...</label>
                <span class="mdl-textfield__error">Input can be only alphanumeric and between 6-25 chars!</span>
            </div>

            <div>
                <br></br>
                <!-- Colored raised button -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="profile_update-button">Update</button>
            </div>

        </form>
    </div>
    
    <div class="mdl-layout-spacer"></div>
</div>

{% endblock %}