{% extends "common/base.html" %}
{% block title %}{{title}}{% endblock %} 
{% block nav_title %}{{title}}{% endblock %}

{% block last_nav_link %} 
{% if final_nav_header == 'signin' %}
    <a class="mdl-navigation__link" href="/signin">Login</a>
{% else %}
    <a class="mdl-navigation__link" href="/signout_confirm">{{final_nav_header}}</a>
{% endif %} 
{% endblock %}

{% block content %}

<div id="about-us-page">
    <div class="mdl-grid">
    
        <div class="mdl-layout-spacer"></div>
    
        <div class="mdl-cell mdl-cell--8-col">
            <!-- {{content_html}} -->
    
            <img src="{{url_for('static', filename='images/team_image.jpg')}}" />
    
        </div>
    
        <div class="mdl-layout-spacer"></div>
    
    </div>

</div>

{% endblock %}